/* GENERAL */

.primary {
    color: var(--primary-color);
}

.brightness {
    transition: all 0.2s ease-in-out;
}

.brightness:hover {
    filter: brightness(2);
}

/* EMOJIS */

.emoji {
    filter: drop-shadow(2px 2px 25px var(--box-shadow-color)) !important;
}